:root {
  --bg-color: #009587;
  --white: #FFFFFF;
  --gray: #E4E4E4;
  --black: #212529;
}


*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
}