.layout-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #F5F5F5;
}

.sidebar-container {
  width: 120px;
  border-radius: 1rem;
  margin: 3.2rem 0.8rem 0.7rem 1.2rem;
}

.dashboard-side {
  width: 90% !important;
  background-color: green;
}

.sidebar {
  height: 100%;
  width: 100%;
  background-color: var(--white);
  color: white;
  padding: 0.8rem 0.9rem;
  color: var(--black);
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-container {
  height: 9vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0; 
  background-color:#009587;
  border-bottom: 1px solid #ccc;
  z-index: 200;
   display: flex;
   align-items: center;
 justify-content: space-between; 
  padding: 0 1.1rem;
}
.logo h2{
  color:#E1E3E5;
}
.profile{
  font-size: 1.7rem;
}

.main-content{
width: 100%;
}


.sidebar-title {
  font-size: 1rem;
  color: var(--bg-color);
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}


.nav-links {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  flex-grow: 1;
  margin-top: 0.7rem;
}

.nav-link {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.3rem 0.4rem;
  color: #E1E3E5;
  border-radius: 6px;
  border-left: 4px solid transparent;
  text-decoration: none;
  transition: all 0.3s ease;
}

.nav-link span {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 0.2rem;
  color: #4a525a;
}

.nav-link .icon svg{
  fill:#333333e1;
  font-size: 1.3rem;
}

.nav-link.active {
  color: var(--bg-color);
  border-left: 3px solid var(--bg-color);
  background-color: #f0fdf4cd;
  fill:var(--bg-color);
}

.nav-link.active .icon svg{
  fill: #009587;
  stroke:#009587 ;
}


.logout-btn {
  background-color: transparent;
  border: none;
  color: #f87171;
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: 0.95rem;
  transition: background-color 0.2s ease, color 0.2s ease;
  margin-top: auto;
}
