* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.teams-page {
  padding: 2rem;
  background-color: #f4f7f6; 
  min-height: 100vh;
  flex-grow: 1; 
}

.page-header {
  margin-bottom: 2rem;
}

.page-header h1 {
  font-size: 2.1rem; 
  font-weight: 700; 
  color: #009587; 

}

.loading{
  width: 40px;
  height: 40px;
  border-top: 3px solid var(--bg-color);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 100;
  animation: loader 1s linear infinite;
}
@keyframes loader {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: translate(360deg);
  }
  
}

.page-header p {
  font-size: 1.125rem; 
  color: #5c6369; 
}

.teams-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem; 
}

.team-card-link {
  text-decoration: none;
  color: inherit;
}

.team-card {
  background-color: #ffffff; 
  border-radius: 0.75rem; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.team-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1); 
}

.team-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.team-header h3 {
  font-size: 1.5rem;
  font-weight: 600; 
  color: #333333; 
}

.member-count {
  background-color: #009587; 
  color: #ffffff;
  padding: 0.25rem 0.75rem; 
  border-radius: 9999px; 
  font-size: 0.875rem; 
  font-weight: 500; 
}

.team-content {
  flex-grow: 1;
  margin-bottom: 1rem;
  text-align: left;
}

.team-lead {
  font-size: 1rem; 
  color: #5c6369; 
  margin-bottom: 0.5rem;
}

.team-lead strong {
  font-weight: 600;
}

.team-description {
  width: 90%;
  text-align: justify;
  font-size: 0.87rem;
  color: #71717a; 
  line-height: 1.5;
}

.team-footer {
  border-top: 1px solid #e5e7eb;
  padding-top: 1rem; 
  text-align: right;
}

.view-link {
  font-size: 0.875rem;
  font-weight: 600; 
  color: #009587; 
  transition: color 0.2s ease-in-out;
}

.view-link:hover {
  color: #047857; 
}
